* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #F5F5F5;
    --link-color: #000;
}

body {
    background-color: var(--background-color);
    font-family: 'Raleway';
    line-height: 1;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.section {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
}

